@font-face {
  font-family: 'Friends';
  src: local('Friends'), url(./fonts/Friends.TTF) format('truetype')
}

body {
  margin: 0;
  font-family: Friends;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8477CF;
}